@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply select-none;
}

.bg-set {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.bg-set::-webkit-scrollbar {
  display: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  /* text-indent: -9999px; */
  width: 50px;
  height: 25px;
  background: rgb(187, 187, 187);
  display: block;
  border-radius: 50px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #2d2e29;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}

body {
  font-family: "poppins";
  overflow: hidden;
  background-color: black;
}
